.sidebar {
    height: 700px;
    background-color: rgb(45, 44, 44);
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    width: auto;
    font-size: 1.3rem;
    color: white;
    transition: .1s ease;
    &:hover {
        color: rgb(255, 157, 0);
    }
}

.link.active {
    color: rgb(255, 157, 0);
}

