.smileBtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapper {
    position: relative;
}

.list {
    width: 200px;
    position: absolute;
    top: -80px;


    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    padding: 10px;

    background-color: white;
    border-radius: 10px;
}

.smile {
    cursor: pointer;
}