html {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-bg);
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}